@font-face {
  font-family: 'DongQing';
  src: url('../font/DongQingHei.ttf');
  src: url('../font/DongQingHei..eot?#font-spider') format('embedded-opentype'), url('../font/DongQingHei..woff') format('woff'), url('../font/DongQingHei..ttf') format('truetype'), url('../font/DongQingHei..svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
* {
  padding: 0;
  margin: 0;
  font-family: "DongQing";
}
.star {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #e7e7e7;
}
.light {
  color: #ffc600;
}
li {
  list-style: none;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: auto;
  position: relative;
}
.container .mask {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  left: 0;
  top: 0;
  background: #000000;
  display: none;
}
.container .teacher_infor {
  width: 1000px;
  height: 440px;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 10%;
  display: none;
}
.container .teacher_infor .close {
  float: right;
  margin: 14px 16px;
  cursor: pointer;
  color: #959595;
}
.container .teacher_infor h5 {
  text-align: center;
  margin: 28px 0;
  font-weight: 300;
}
.container .teacher_infor .infor_holder {
  margin: 0 auto;
  width: 830px;
  height: 320px;
}
.container .teacher_infor .infor_holder .tf {
  width: 165px;
  height: 100%;
  float: left;
}
.container .teacher_infor .infor_holder .tf .photo {
  height: 204px;
  width: 100%;
  border: 1px solid #d1d1d1;
  background: url("../images/tp.jpg") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 8px;
}
.container .teacher_infor .infor_holder .tf p {
  width: 100%;
  height: 20px;
  line-height: 25px;
}
.container .teacher_infor .infor_holder .tf span {
  float: left;
}
.container .teacher_infor .infor_holder .tf .name {
  color: #4dcf5b;
  font-size: 13px;
}
.container .teacher_infor .infor_holder .tf .name_details {
  width: 110px;
  color: #333;
  font-size: 14px;
}
.container .teacher_infor .infor_holder .cf {
  width: 645px;
  float: right;
  border: 1px solid #d1d1d1;
  border-top: 4px solid #49bf57;
  border-collapse: collapse;
}
.container .teacher_infor .infor_holder .cf td {
  height: 52px;
  text-align: center;
  font-size: 13px;
  color: #494949;
}
.container .teacher_infor .infor_holder .cf .name td {
  height: 38px;
  font-size: 11px;
}
.container .selectBtn {
  width: 52px;
  height: 18px;
  box-shadow: 1px 1px 1px #d9d9d9;
  line-height: 18px;
  text-align: center;
  color: #a9a8a8;
  background-color: #e7e7e7;
  font-size: 11px;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}
.container .header {
  width: 100%;
  height: 145px;
}
.container .header .title {
  color: #179e27;
  font-size: 28px;
  font-weight: 400;
  width: 1000px;
  margin: 0 auto;
  line-height: 104px;
  overflow: hidden;
}
.container .header .title .titleWords {
  float: left;
}
.container .header .title .searchBox {
  float: right;
  width: 276px;
  height: 30px;
  margin-top: 37px;
  border-bottom: 1px solid #ececec;
}
.container .header .title .searchBox * {
  float: left;
}
.container .header .title .searchBox .searchInput {
  height: 28px;
  width: 220px;
  padding-left: 12px;
  border: 1px solid #22b033;
  border-right: none;
}
.container .header .title .searchBox .searchBtn {
  display: inline-block;
  width: 42px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-weight: 100;
  border-right: 1px solid #ececec;
  background-color: #22b033;
  font-family: "iconfont" !important;
  font-size: 16px;
  color: #ffffff;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.container .header .header_nav {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #cccccc;
  background-color: #22b033;
}
.container .header .header_nav .selectorHolder {
  width: 1000px;
  margin: 0 auto;
}
.container .header .header_nav li {
  float: left;
  width: 99px;
  height: 100%;
  line-height: 41px;
  text-align: center;
  cursor: pointer;
}
.container .header .header_nav li a {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-shadow: 1px 1px 1px #333;
  font-size: 14px;
}
.container .header .header_nav li:hover {
  background-color: #009933;
}
.container .header .header_nav .active {
  background-color: #009933;
}
.container .index {
  width: 1000px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 78px;
}
.container .index .CourseTable {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-top: 4px solid #49bf57;
  border-collapse: collapse;
}
.container .index .CourseTable td {
  text-align: center;
  height: 53px;
  line-height: 53px;
  font-size: 13px;
  color: #696868;
}
.container .index .CourseTable .CourseNum {
  width: 89px;
}
.container .index .CourseTable .CourseName {
  width: 501px;
}
.container .index .CourseTable .Teacher {
  width: 127px;
  color: #22b033;
  cursor: pointer;
}
.container .index .CourseTable .Passing {
  width: 127px;
}
.container .index .CourseTable .Grade {
  width: 154px;
}
.container .index .CourseTable .Details {
  text-align: left;
  padding-left: 26px;
}
.container .index .CourseTable .NameList td {
  font-size: 12px;
  color: #333;
  height: 37px;
  line-height: 37px;
}
.container .index .tipWords {
  width: 100%;
  padding: 18px 0;
  font-size: 15px;
  height: 15px;
  line-height: 15px;
  color: #6b6b6b;
}
.container .index .tipWords .recommend {
  float: left;
}
.container .index .tipWords .change {
  float: right;
  font-size: 13px;
  cursor: pointer;
  color: #aeadad;
  font-weight: 100;
}
.container .index .tipWords .change .changeLogo {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  margin-right: 2px;
}
.container .index .courseBox {
  width: 100%;
  overflow: hidden;
}
.container .index .courseBox li {
  border: 1px solid #d1d1d1;
  border-top: 4px solid #49bf57;
  width: 274px;
  height: 108px;
  padding: 21px;
  float: left;
  margin-bottom: 24px;
}
.container .index .courseBox li .Name {
  font-weight: 600;
  font-size: 12px;
  color: #333;
}
.container .index .courseBox li .details {
  width: 207px;
  font-size: 13px;
  color: #5d5d5d;
  font-weight: 200;
}
.container .index .courseBox li .star-line {
  width: 141px;
  height: 20px;
}
.container .index .courseBox li span {
  float: left;
}
.container .index .courseBox li p {
  line-height: 20px;
  display: inline-block;
  width: 100%;
}
.container .index .courseBox .center {
  margin-left: 23px;
  margin-right: 23px;
}
.container .footer {
  height: 61px;
  padding: 19px;
  width: auto;
  background-color: #efefef;
}
.container .footer p {
  font-size: 12px;
  color: #8a8a8a;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
}
.container .footer p a {
  color: #8a8a8a;
}
